html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Calibri, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  min-height: 100%; }

*::selection {
  background-color: #fcfcfc; }

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; }

a {
  color: #3345a8;
  font-weight: 400;
  transition: all 0.3s ease-in-out; }
  a:hover, a:active, a:focus {
    text-decoration: none; }

.pg-info {
  margin: 0;
  font-size: 15px; }
  .pg-info caption {
    font-weight: 600;
    font-size: 17px;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 20px; }
  .pg-info th {
    padding: 0 0 10px;
    text-align: left;
    line-height: 1.1; }
  .pg-info tr {
    display: block; }
  .pg-info td {
    padding: 0px 0 0; }
    .pg-info td a {
      display: block;
      padding: 0;
      text-align: left; }
  .pg-info th,
  .pg-info td {
    display: block;
    width: 100%; }

.pg-text {
  text-align: left;
  font-size: 13px;
  line-height: 1.4;
  border-collapse: collapse; }
  .pg-text tr {
    border-width: 1px 0; }
  .pg-text th,
  .pg-text td {
    padding: 0; }
  .pg-text th {
    line-height: 1; }
  .pg-text td {
    padding: 15px;
    color: rgba(0, 0, 0, 0.8); }
  .pg-text a {
    word-break: break-word;
    padding: 15px 0;
    margin: 3px; }
  .pg-text p {
    padding: 0; }

.pg-sidebar {
  width: 25%;
  padding: 30px;
  background-color: #f9f9f9; }

.pg-content {
  width: 70%;
  padding: 30px; }

.pg-container {
  max-width: 950px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 400; }

.pg-row {
  display: flex;
  flex-wrap: nowrap;
  border: 1px solid #e7e7e7;
  text-align: center; }

.pg-main {
  padding: 20px; }

.heading-1 {
  margin-top: 0;
  font-size: 26px;
  font-weight: 400; }

.heading-2 {
  margin-top: 0; }

@media only screen and (max-width: 960px) {
  .pg-row {
    flex-wrap: wrap; }
  .pg-sidebar,
  .pg-content {
    width: 100%; }
  .pg-text td,
  .pg-text th {
    display: block; } }
